<div class="row text-right">
    <div class="col">
        <button (click)="adm()" id="botonAdm" class="btn">¡Iniciar como Administrador!</button>
    </div>
</div>

<div class="text-center">
    <img src="../assets/Logotipo.png" alt="Responsive image">
</div><br/><br/>

<div class="text-center">
    <h1 id="titulo"><b>¡Bienvenido a tu ecosistema de emprendimiento!</b></h1>
</div><br/><br/><br/>

<div class="row">
    <div class="col text-right">
        <button type="button" class="btn btn-danger btn-lg" id="uno" (click)="startup()">Iniciar como Startup</button><br/>
    </div>
    <div class="col">
        <button type="button" class="btn btn-info btn-lg" id="dos" (click)="entidad()">Iniciar como Entidad</button>
    </div>
</div><br/><br/><br/>

<!--LANDING PAGE CON IMAGEN-->


<!--<div class="row text-right">-->
    <!--<div class="col">-->
        <!--<a routerLink="/login/adm">¡Iniciar como Administrador!</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col col-md-2" id="icono">-->
        <!--<img src="../assets/Logotipo.png" alt="Responsive image">-->
    <!--</div>-->
    <!--<div class="col text-center">-->
        <!--<h1 id="titulo"><b>¡Bienvenido a tu</b></h1>-->
        <!--<h1 id="titulo1"><b>ecosistema de</b></h1>-->
        <!--<h1 id="titulo2"><b>emprendimiento!</b></h1>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col" id="imagen">-->
        <!--<img src="../assets/ImagenPrincipal.png" alt="Responsive image">-->
    <!--</div>-->
    <!--<div class="col">-->
        <!--<button type="button" class="btn btn-danger btn-lg" id="botonUno" (click)="startup()">Iniciar como Startup</button><br/>-->
        <!--<button type="button" class="btn btn-info btn-lg" id="botonDos" (click)="entidad()">Iniciar como Entidad</button>-->
    <!--</div>-->
<!--</div>-->
