<!--Menu de navegacion del admin-->
<div *ngIf="emisorP === 'adm'">
  <nav class="navbar navbar-dark p-3 bg-dark text-white">
    <div class="container">
      <div class="navbar-brand">¡Productos registrados!</div>
      <ul class="nav justify-content-end">

        <div class="btn-group" role="group">
          <button id="btnGroupDrop3" type="button" class="nav-link navbar-brand btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Consultar
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item text-dark" routerLink="../../infoStartup/adm">Startups</a>
            <a class="dropdown-item text-dark" routerLink="../../infoEntidad/adm">Entidades</a>
            <a class="dropdown-item text-dark" routerLink="../../infoProductos/adm">Productos</a>
            <a class="dropdown-item text-dark" routerLink="../../infoConvocatorias/adm">Convocatorias</a>
          </div>
        </div>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop2" type="button" class="nav-link navbar-brand btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administrador
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item text-dark" data-toggle="modal" id="aggP" (click)="ventana4()">Agregar</a>
            <a class="dropdown-item text-dark" data-toggle="modal" id="updP" (click)="ventana5()">Perfil</a>
          </div>
        </div>

        <li class="nav-item">
          <a class="nav-link navbar-brand btn btn-dark" (click)="cerrarSesion()">Cerrar sesion</a>
        </li>

      </ul>
    </div>
  </nav>

  <!--Ventana emergente para crear o actualizar un admin-->
  <div class="modal fade" tabindex="-1" role="dialog" id="ventana2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="tipoPeticion === true"><b>Nuevo administrador</b></h5>
          <h5 class="modal-title" *ngIf="tipoPeticion === false"><b>Actualiza tus datos</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="formulario" [formGroup]="admForm"><br/>

            <div class="row">
              <div class="col col-md-2">
                <label>Correo:</label>
              </div>
              <div class="col">
                <input type="email" formControlName="cor" [(ngModel)]="adm.cor" class="form-control form-control-sm" placeholder="Ingresa el correo del administrador (ejemplo@gmail.com).">
              </div>
            </div><br/>
            <div class="row">
              <div class="col col-md-3">
                <label>Contraseña:</label>
              </div>
              <div class="col col-md-8">
                <input type="text" formControlName="con" [(ngModel)]="adm.con" name="contra" class="form-control form-control-sm" placeholder="Ingresa la contraseña del administrador.">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" href="#ventanaElim" *ngIf="!tipoPeticion" data-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-primary" (click)="guardarAdmP()" [disabled]="!admForm.valid">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Ventana emergente para eliminar un admin-->
  <div class="modal fade" tabindex="-1" role="dialog" id="ventanaElim">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>¿Seguro deseas eliminar tu cuenta?</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col col-md-3">
              <label>Contraseña:</label>
            </div>
            <div class="col col-md-8">
              <input type="text" id="contra" name="contra" class="form-control form-control-sm" placeholder="Ingresa la contraseña para eliminar tu cuenta.">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminarAdmP()" [disabled]="!admForm.valid">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Menu de navegacion de la stratup-->
<div *ngIf="emisorP !== 'adm'">
  <nav class="navbar  navbar-dark p-3 bg-dark text-dark">
    <div class="container">
      <div class="navbar-brand">¡Tus Producto!</div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link navbar-brand btn btn-dark text-white" routerLink="../../principalStartup/startup">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand btn btn-dark" routerLink="../../infoEntidad/startup">Entidades</a>
        </li>
        <div class="btn-group" role="group">
          <button type="button" class="nav-link navbar-brand btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Productos
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item text-dark" routerLink="../../infoProductos/{{emisorP}}">Productos Registrados</a>
            <a class="dropdown-item text-dark" (click)="editarInfoP()">Agregar Producto</a>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link navbar-brand btn btn-dark text-white" (click)="editarInfo()">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand btn btn-dark text-white" (click)="cerrarSesion()">Cerrar sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!--Resultados de los productos buscados-->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <section>

        <div class="container bg-light text-dark border border-info" style=" border-radius: 5px;"><br/>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"><b>Nombre del producto:</b></span>
            </div>
            <input type="text" id="nombreDelProducto" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" (input)="buscar()">
          </div><hr/>

          <div *ngIf="resultadoBusqueda.length === 0">
            <div class="text-center text-secondary">
              <h4>No hay resultados</h4>
            </div>
          </div>

          <div id="scrollableP" *ngIf="resultadoBusqueda.length >= 6">
            <div *ngIf="resultadoBusqueda.length !== 0">
              <table class="table">
                <thead *ngFor="let result of resultadoBusqueda; let i = index">
                <tr>
                  <div class="input-group">
                    <input type="text" [disabled]="true" class="form-control" placeholder="{{result.nombre}}">
                    <div class="input-group-append">
                      <button *ngIf="ver===false" class="btn btn-danger" type="button" (click)="eliminar(i)">Eliminar</button>
                      <button *ngIf="ver===false" class="btn btn-info" type="button" routerLink="../../productosStartup/{{resultadoBusqueda[i].nombre}}">Modificar</button>
                      <button *ngIf="ver===true" class="btn btn-info" type="button" routerLink="../../productosStartup/{{resultadoBusqueda[i].nombre}}">Ver</button>
                    </div>
                  </div>
                </tr><hr/>
                </thead>
              </table>
            </div>
          </div>

          <div *ngIf="resultadoBusqueda.length < 6">
            <div *ngIf="resultadoBusqueda.length !== 0">
              <table class="table">
                <thead *ngFor="let result of resultadoBusqueda; let i = index">
                <tr>
                  <div class="input-group">
                    <input type="text" [disabled]="true" class="form-control" placeholder="{{result.nombre}}">
                    <div class="input-group-append">
                      <button *ngIf="ver===false" class="btn btn-danger" type="button" (click)="eliminar(i)">Eliminar</button>
                      <button *ngIf="ver===false" class="btn btn-info" type="button" routerLink="../../productosStartup/{{resultadoBusqueda[i].nombre}}">Modificar</button>
                      <button *ngIf="ver===true" class="btn btn-info" type="button" routerLink="../../productosStartup/{{resultadoBusqueda[i].nombre}}">Ver</button>
                    </div>
                  </div>
                </tr><hr/>
                </thead>
              </table>
            </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          </div><br/>

        </div>
      </section>
    </div>
  </div>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>